@page
@model Mt.WebVNext.ServerAppApi.Web.Pages.IndexModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>WebVNext</title>
<base href="/">

<meta name="viewport"
      content="width=device-width, initial-scale=1">
<link rel="icon"
      type="image/x-icon"
      href="favicon.ico">

</head>
<body class="w-100 h-100">
  <p>
    <a href="/angular">Angular App</a>
  </p>
  <p>
    <a href="/react">React App</a>
  </p>
</body>
</html>
