@page
@using Mt.WebVNext.ServerAppApi.Web.Pages
@model Mt.WebVNext.ServerAppApi.Web.Pages.IndexModel
@{
    Layout = null;
}
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <base href="/">
</head>
<body>
  <app-root></app-root>
  <script src="~/dist/ClientApp.Angular/inline.bundle.js"></script>
  <script src="~/dist/ClientApp.Angular/polyfills.bundle.js"></script>
  <script src="~/dist/ClientApp.Angular/vendor.bundle.js"></script>
  <script src="~/dist/ClientApp.Angular/styles.bundle.js"></script>
  <script src="~/dist/ClientApp.Angular/main.bundle.js"></script>
</body>
</html>
