<div
  fxFlexFill
  fxLayout="column"
  fxLayoutAlign="start stretch"
>

  <!-- Header -->
  <app-header
    [appCommands]="this"
    [showMenuButton]="!isDesktopMode"
  ></app-header>

  <!-- Main content -->
  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="start stretch"
  >

    <mat-sidenav-container
      fxFlexFill
      class="sidenav-container"
    >
      <mat-sidenav
        [mode]="isMobileMode ? 'over' : 'side'"
        [fixedInViewport]="isMobileMode"
        [opened]="isSidebarOpen"
        class="sidenav mat-elevation-z1"
      >
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<ng-container app-portal-outlet="portal-fab">
</ng-container>
