<div fxFlexFill
     fxLayout="column"
     fxLayoutAlign="start stretch">

	<!-- Header -->
  <app-header [appCommands]="this"></app-header>

	<!-- Main content -->
  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="start stretch">

    <div class="container">

      <mat-sidenav-container fxFlexFill
                             class="sidenav-container">
        <mat-sidenav [mode]="isMobileMode ? 'over' : 'side'"
                     [fixedInViewport]="isMobileMode">
          <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
