@page
@using Mt.WebVNext.ServerAppMvc.Web.Pages.Companies
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model CreateModel

<form method="post">
  <div>Name: <input asp-for="Company.Name"/></div>
  <div>Description: <input asp-for="Company.Description"/></div>
  <button type="submit">Create</button>
</form>
