@import 'variables';

.fab-button {
  z-index: $zidx-fab-button;
}

// Note: check https://material.io/design/layout/responsive-layout-grid.html#ui-regions for details on the FAB behavior

$fab-button-margin: 8px; // Standard offset of the fab button

.fab-button-sm {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab-button-md {
  position: fixed;
  left: $fab-button-margin;
  top: $header-height + $header-height + $fab-button-margin; // Two headers (main and view) + some margin

}

.fab-button-xl {
  position: fixed;
  left: $navigation-sidebar-width - 56px/2; // 56px is the width of FAB button in angular material
  top: $header-height + $header-height + $fab-button-margin; // Two headers (main and view) + some margin
}
