<ng-container *ngIf="isStackedLayout;then stackedLayout;else sideLayout">
</ng-container>

<ng-template #stackedLayout>

  <ng-container *ngIf="showMasterView">
    <ng-container *ngComponentOutlet="masterComponentType"></ng-container>
  </ng-container>
  <ng-container *ngIf="!showMasterView">
    <router-outlet></router-outlet>
  </ng-container>

</ng-template>
<ng-template #sideLayout>
	<div fxLayout="row"
	     fxFlexFill>
    <div fxFlex>
      <ng-container *ngComponentOutlet="masterComponentType"></ng-container>
    </div>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
