<div>
  {{ 'CONTACT_MANAGER.COMPANY_LIST.VIEW_TITLE' | translate }}
</div>
<div>
  <a [routerLink]="['/companies/new']">{{ 'CONTACT_MANAGER.COMPANY_LIST.CREATE_COMPANY' | translate }}</a>
</div>
<div>
  <mat-list>
    <mat-list-item *ngFor="let company of companies">
      {{company.name}}

      <a [routerLink]="['/companies', company.companyId]">{{ 'COMMON.BUTTONS.EDIT' | translate }}</a>
      <button mat-button
              (click)="handleDeleteCompanyClick(company.companyId)">{{ 'COMMON.BUTTONS.DELETE' | translate }}</button>
    </mat-list-item>
  </mat-list>
</div>
