<div>
  {{ 'CONTACT_MANAGER.CONTACT_LIST.VIEW_TITLE' | translate }}
</div>
<div>
  <a [routerLink]="['/contacts/new']">{{ 'CONTACT_MANAGER.CONTACT_LIST.CREATE_CONTACT' | translate }}</a>
</div>
<div>
  <mat-list *ngIf="contacts">
    <mat-list-item *ngFor="let contact of contacts.rows">
      {{contact.firstName}} {{contact.lastName}}

      <a [routerLink]="['/contacts', contact.contactId]">{{ 'COMMON.BUTTONS.EDIT' | translate }}</a>
      <button mat-button
              (click)="handleDeleteContactClick(contact.contactId)">{{ 'COMMON.BUTTONS.DELETE' | translate }}</button>
    </mat-list-item>
  </mat-list>
</div>
