<div>
    {{ 'CONTACT_MANAGER.CONTACT_NEW.VIEW_TITLE' | translate }}
  </div>
  <form (ngSubmit)="handleFormSubmit(form)"
      #form="ngForm">
    <div>
      <mat-form-field>
        <mat-select [placeholder]="'CONTACT_MANAGER.CONTACT_NEW.SELECT_COMPANY_PLACEHOLDER' | translate"
                    name="company"
                    [(ngModel)]="contact.companyId"
                    required>
          <mat-option *ngFor="let company of companies"
                      [value]="company.companyId">
            {{ company.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput
             name="firstName"
             [placeholder]="'CONTACT_MANAGER.CONTACT_NEW.FIRST_NAME_PLACEHOLDER' | translate"
             [(ngModel)]="contact.firstName"
             required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput
             name="lastName"
             [placeholder]="'CONTACT_MANAGER.CONTACT_NEW.LAST_NAME_PLACEHOLDER' | translate"
             [(ngModel)]="contact.lastName"
             required>
    </mat-form-field>
  </div>
  <div>
      <button mat-button> {{ 'COMMON.BUTTONS.CREATE' | translate }} </button>
  </div>
</form>
