<div *ngIf="contacts"
     class="mat-elevation-z1"
     fxFlexFill
		 fxLayout="column"
		 fxLayoutAlign="start stretch">
  <mat-toolbar  fxLayout
                fxLayoutAlign="space-between center">
    <span>{{ 'CONTACT_MANAGER.CONTACT_LIST.VIEW_TITLE' | translate }}</span>
    <div fxLayout fxLayoutAlign="end center">
      <search-box (textChanged)="handleFilterTextChanged($event)"></search-box>
    </div>
  </mat-toolbar>

  <mat-paginator [length]="contacts.totalRowCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="handlePageChange($event)">
  </mat-paginator>

  <mat-nav-list fxFlex
                style="overflow: auto">
    <mat-list-item *ngFor="let contact of contacts.rows"
                  [routerLink]="['/contacts', contact.contactId]">
      <a>{{contact.firstName}} {{contact.lastName}}</a>
    </mat-list-item>
  </mat-nav-list>
</div>

<a mat-fab
   color="primary"
   routerLink="/contacts/new"
   style="position:fixed;right:50px;bottom:50px">
  <mat-icon>add</mat-icon>
</a>
