<ng-container *ngIf="contact">
  <mat-toolbar fxLayout  fxLayoutAlign="space-between center">
    <span> {{contact.firstName}} {{contact.lastName}} </span>
    <div fxLayout fxLayoutAlign="end">
			<button mat-icon-button
							*ngIf="viewMode==='view'"
              (click)="handleEditClick()">
        <mat-icon>mode_edit</mat-icon>
      </button>
			<button mat-icon-button
							*ngIf="viewMode==='view'"
              (click)="handleDeleteClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
	</mat-toolbar>

	<!-- Main content container -->
	<div class="m-3"
	     [ngSwitch]="viewMode">

		<!-- View mode -->
		<div *ngSwitchCase="'view'">
			<div>
				CONTACT: {{contact.firstName}} {{contact.lastName}}
			</div>
			<div>
				DESCRIPTION: {{contact.description}}
			</div>
		</div>

		<!-- Edit mode -->
		<div *ngSwitchCase="'edit'">
			<form (ngSubmit)="handleFormSubmit(form)"
    		    #form="ngForm">

        <div>
					<mat-form-field class="w-100">
            <input matInput
                   name="firstName"
                   placeholder="First name"
                   [(ngModel)]="contact.firstName"
                   required>
          </mat-form-field>
		    </div>
				<div>
          <mat-form-field class="w-100">
            <input matInput
                   name="lastName"
                   placeholder="Last name"
                   [(ngModel)]="contact.lastName"
                   required>
          </mat-form-field>
        </div>
				<div fxLayout fxLayoutAlign="end">
					<button mat-button>{{ 'COMMON.BUTTONS.UPDATE' | translate }}</button>
				</div>
		  </form>
		</div>

		<!-- New mode -->
		<div *ngSwitchCase="'new'">
			<form (ngSubmit)="handleFormSubmit(form)"
						#form="ngForm">
				<div>
					<mat-form-field class="w-100">
            <input matInput
                   name="firstName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_NEW.FIRST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.firstName"
                   required>
          </mat-form-field>
				</div>
				<div>
					<mat-form-field class="w-100">
            <input matInput
                   name="lastName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_NEW.LAST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.lastName"
                   required>
         </mat-form-field>
				</div>
				<div fxLayout fxLayoutAlign="end">
					<button mat-button>{{ 'COMMON.BUTTONS.CREATE' | translate }}</button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
