<ng-container *ngIf="contact">
  <mat-toolbar fxLayout  fxLayoutAlign="space-between center">
    <span> {{contact.firstName}} {{contact.lastName}} </span>
    <div fxLayout fxLayoutAlign="end">
			<button mat-icon-button
							*ngIf="viewMode==='view'"
              (click)="handleEditClick()">
        <mat-icon>mode_edit</mat-icon>
      </button>
			<button mat-icon-button
							*ngIf="viewMode==='view'"
              (click)="handleDeleteClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
	</mat-toolbar>

	<!-- Main content container -->
	<div class="m-3"
	     [ngSwitch]="viewMode">

		<!-- View mode -->
		<div *ngSwitchCase="'view'">
			<div>
				{{'CONTACT_MANAGER.CONTACT_DETAILS.LABEL_COMPANY' | translate}} {{selectedCompany?.name}}
			</div>
		</div>

		<!-- Edit mode -->
		<div *ngSwitchCase="'edit'">
			<form (ngSubmit)="handleFormSubmit(form)"
    		    #form="ngForm">

        <div>
          <mat-form-field class="w-100">
            <input matInput
                    name="companyId"
                    [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.SELECT_COMPANY_PLACEHOLDER' | translate"
                    [(ngModel)]="selectedCompany"
                    (ngModelChange)="handleCompanyFilterChange($event)"
                    [matAutocomplete]="companyList"
                    [errorStateMatcher]="companySelectStateMatcher"
                    required>
          </mat-form-field>
          <mat-autocomplete #companyList
                            [displayWith]="getCompanyName">
            <mat-option *ngFor="let c of companies" [value]="c">
                {{ c.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div>
					<mat-form-field class="w-100">
            <input matInput
                   name="firstName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.FIRST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.firstName"
                   required>
          </mat-form-field>
		    </div>
				<div>
          <mat-form-field class="w-100">
            <input matInput
                   name="lastName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.LAST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.lastName"
                   required>
          </mat-form-field>
        </div>
				<div fxLayout fxLayoutAlign="end">
					<button mat-button>{{ 'COMMON.BUTTONS.UPDATE' | translate }}</button>
				</div>
		  </form>
		</div>

		<!-- New mode -->
		<div *ngSwitchCase="'new'">
			<form (ngSubmit)="handleFormSubmit(form)"
						#form="ngForm">
        <div>
          <mat-form-field class="w-100">
            <input matInput
                   name="companyId"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.SELECT_COMPANY_PLACEHOLDER' | translate"
                   [(ngModel)]="selectedCompany"
                   (ngModelChange)="handleCompanyFilterChange($event)"
                   [matAutocomplete]="companyList"
                   [errorStateMatcher]="companySelectStateMatcher"
                   required>
          </mat-form-field>
          <mat-autocomplete #companyList
                            [displayWith]="getCompanyName">
            <mat-option *ngFor="let c of companies" [value]="c">
               {{ c.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div>
					<mat-form-field class="w-100">
            <input matInput
                   name="firstName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.FIRST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.firstName"
                   required>
          </mat-form-field>
				</div>
				<div>
					<mat-form-field class="w-100">
            <input matInput
                   name="lastName"
                   [placeholder]="'CONTACT_MANAGER.CONTACT_DETAILS.LAST_NAME_PLACEHOLDER' | translate"
                   [(ngModel)]="contact.lastName"
                   required>
         </mat-form-field>
				</div>
				<div fxLayout fxLayoutAlign="end">
					<button mat-button>{{ 'COMMON.BUTTONS.CREATE' | translate }}</button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
